@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply duration-300;
}

body {
    @apply font-default;
}

h1 {
    @apply text-5xl font-semibold mb-8;
}

a {
    @apply underline;

    &:hover {
        @apply no-underline;
    }
}

form {
    @apply flex flex-col gap-3;

    input {
        @apply rounded-full border border-gray-300 w-full py-3 px-4 outline-none;
        &:focus {
            @apply border-black;
        }
    }
}

button {
    @apply py-3 px-4 rounded-full w-auto bg-black text-white border border-black font-semibold;

    &:hover {
        @apply text-black bg-white;
    }
}

#sidenav {
    a {
        @apply block rounded-full p-3 relative;
        &:hover,
        &.active-link {
            @apply bg-neutral-200;
        }
        &:hover {
            + .tooltip {
                @apply z-0 opacity-100;
            }
        }
        svg {
            @apply w-6 h-6 mx-auto absolute;
        }
    }
    .tooltip {
        @apply -z-10 opacity-0 bg-black text-white text-nowrap text-xs font-semibold lowercase rounded-3xl py-1 px-3;

        .arrow,
        .arrow::before {
            @apply absolute w-2 h-2 bg-inherit;
        }
        .arrow {
            visibility: hidden;
        }
        .arrow::before {
            @apply visible;
            content: "";
            transform: rotate(45deg);
        }

        &[data-popper-placement^="top"] > .arrow {
            @apply -bottom-1;
        }
        &[data-popper-placement^="bottom"] > .arrow {
            @apply -top-1;
        }
        &[data-popper-placement^="left"] > .arrow {
            right: -3px;
        }
        &[data-popper-placement^="right"] > .arrow {
            left: -3px;
        }
    }
}
