@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-default bg-fixed bg-cover bg-center;
    background-image: url("/paper.jpg");
}

h1 {
    @apply text-5xl font-semibold mb-10 font-display;
}

h2 {
    @apply text-4xl font-semibold mb-8 font-display;
}

h3 {
    @apply text-xl font-semibold mb-3 font-display;
}

p {
    @apply mb-3;
}

a {
    @apply underline;

    &:hover {
        @apply no-underline;
    }
}

form {
    @apply flex flex-col gap-3;

    p,
    label {
        @extend .eyebrow;
        @apply pl-3;
    }

    .form-flexgroup {
        @apply flex gap-3 w-full;

        & > * {
            @apply w-full;
        }
    }
}

input,
textarea,
select {
    @apply border border-gray-300 w-full py-3 px-4 outline-none;
    &:focus {
        @apply border-black;
    }
    &::placeholder {
        @apply text-gray-400; // !important;
    }
}

input,
select {
    @apply rounded-full;
}

textarea {
    @apply rounded-3xl;
}

.select {
    @apply w-full;

    [class*="control"] {
        @apply rounded-full border border-gray-300 py-1 px-2 outline-none shadow-none;
        &.focused {
            @apply border-black;
        }
    }
    [class*="menu"],
    .menu-list {
        @apply rounded-3xl py-0;
    }
    [class*="option"] {
        @apply px-5;
        &:hover {
            @apply bg-gray-200;
        }
        &:first-child {
            @apply rounded-t-3xl;
        }
        &:last-child {
            @apply rounded-b-3xl;
        }
        &[aria-selected="true"] {
            @apply bg-black;
        }
    }
}

.eyebrow {
    @apply mb-1 text-xs uppercase font-medium;
}

button,
.button {
    @apply flex items-center gap-2 py-3 px-6 rounded-full w-auto bg-black text-white border border-black font-semibold duration-300;

    &:hover {
        @apply text-black bg-transparent cursor-pointer;
    }

    &.button--circle {
        @apply px-3;
    }

    &.button--plain {
        @apply p-0 rounded-none bg-transparent text-black border-none font-normal text-left;
    }

    svg {
        @apply w-5 h-5;
    }
}

.folders {
    li {
        a {
            @apply block no-underline py-1 px-4 rounded-full font-medium;

            &:hover,
            &.active-link {
                @apply bg-gray-200;
            }
        }
    }
}

.ReactModalPortal {
    .ReactModal__Overlay {
        @apply z-30;
    }

    .ReactModal__Content {
        @apply pointer-events-none overflow-visible overflow-y-scroll h-screen left-0 right-0 top-0 fixed bg-transparent border-none !important;

        & > div {
            @apply z-40 pointer-events-auto relative top-0 bg-white my-10 rounded-3xl border-0 p-8 max-w-screen-md;
            left: 50%;
            right: auto;
            bottom: auto;
            margin-right: -50%;
            transform: translate(-50%, 0);
        }
    }
}

.react-datepicker__aria-live {
    @apply hidden;
}
.react-datepicker__tab-loop {
    .react-datepicker {
        @apply rounded-3xl bg-white shadow-lg p-4 flex gap-2 z-50;
    }

    .react-datepicker-popper {
        @apply z-10;
    }

    .react-datepicker__month-container {
        .react-datepicker__header {
            button {
                @apply p-0.5;
            }

            .react-datepicker__day-names {
                @apply grid grid-cols-7 text-center mt-2 mb-1 text-sm font-medium;

                &.react-datepicker__day-name {
                    @apply p-1;
                }
            }
        }

        .react-datepicker__month {
            @apply flex flex-col text-sm;

            .react-datepicker__week {
                @apply grid grid-cols-7 text-center;

                .react-datepicker__day {
                    @apply p-1 rounded-full;

                    &:hover {
                        @apply bg-gray-100 cursor-pointer;
                    }

                    &.react-datepicker__day--outside-month {
                        @apply text-gray-400;
                    }

                    &.react-datepicker__day--selected {
                        @apply bg-gray-200;
                    }

                    &.react-datepicker__day--today {
                        @apply border border-gray-400;
                    }
                }
            }
        }
    }

    .react-datepicker__time-container {
        @apply pr-2 text-sm overflow-y-scroll max-h-64 pb-2;

        .react-datepicker__time-list {
            @apply space-y-1;
        }
    }

    .react-datepicker__triangle {
        @apply text-white;
    }
}

.project-card {
    @apply border border-gray-400 bg-white rounded-3xl flex;

    &:hover {
        @apply shadow-lg;
    }

    .project-card__link {
        @apply p-6 no-underline block w-full;

        .project-card__dates {
            @apply mb-0 text-xs mt-4 text-gray-700;
        }
    }

    .project-card__edit {
        @apply py-6 pr-6;
    }
}

table.tasks {
    th {
        @extend .eyebrow;
        @apply text-left px-1 whitespace-nowrap pb-2;
    }

    tr {
        @apply border-b border-gray-200 px-3;
    }

    tbody tr {
        &:hover {
            @apply bg-gray-50;
        }
    }

    td {
        @apply pt-1 pb-1 px-1;

        & > *:not(.react-datepicker__tab-loop):not(.task__status-dropdown) {
            @apply border border-transparent rounded-3xl px-2 py-1;
        }

        &:hover,
        &:focus {
            & > * {
                @apply border-gray-300 bg-white;
            }
        }

        .react-datepicker-wrapper {
            input {
                @apply text-right max-w-28 -z-10 border-none px-1 py-0;

                &:hover,
                &:focus {
                    @apply border;
                }
            }
        }
    }

    .number {
        @apply text-right;
    }
}

.task__status-dropdown-wrapper {
    @apply relative;

    & > * {
        @apply border-none p-0;
    }

    &:hover {
        & > .task__status-dropdown {
            @apply block;
        }
        & > * {
            @apply bg-gray-100;
        }
    }

    .task__status-dropdown {
        @apply hidden cursor-pointer absolute top-5 right-0 rounded-3xl bg-white shadow-lg p-6 space-y-2 z-10 min-w-36;

        button {
            &:hover {
                @apply underline;
            }
        }
    }
}

#sidenav {
    a {
        @apply block rounded-full p-3 relative duration-300;
        &:hover,
        &.active-link {
            @apply bg-black text-white;
        }
        &:hover {
            + .tooltip {
                @apply z-0 opacity-100;
            }
        }
        svg {
            @apply w-6 h-6 mx-auto absolute;
        }
    }
    .tooltip {
        @apply -z-10 opacity-0 bg-black text-white text-nowrap text-xs font-semibold lowercase rounded-3xl py-1 px-3;

        .arrow,
        .arrow::before {
            @apply absolute w-2 h-2 bg-inherit;
        }
        .arrow {
            visibility: hidden;
        }
        .arrow::before {
            @apply visible;
            content: "";
            transform: rotate(45deg);
        }

        &[data-popper-placement^="top"] > .arrow {
            @apply -bottom-1;
        }
        &[data-popper-placement^="bottom"] > .arrow {
            @apply -top-1;
        }
        &[data-popper-placement^="left"] > .arrow {
            right: -3px;
        }
        &[data-popper-placement^="right"] > .arrow {
            left: -3px;
        }
    }
}

//@import "./styles/blocknote.scss";
@import "./styles/fullcalendar.scss";
